{% extends 'base.html' %}
{% block body %}
<div >
  <h1 class="display-4" style="font-weight: 600; margin-left: 10px;">Movie List</h1>
    <a href="{% url 'movies:new' %}" class="btn btn-primary" style="float: right;margin-top: 20px;"> Movie 등록 </a>
  <hr>
</div>
{% for movie in movies %}
<div class="card" style="width: 18rem; float: left;margin-left: 10px;">
  <img class="card-img-top" src="{{movie.poster_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"></strong> <a href="{% url 'movies:detail' movie.pk %}">{{movie.title}}<span class="badge badge-secondary" style="margin-left:5px">New</span> </a></h5>
    <p class="card-text">평점 :</strong> {{movie.score}}</p>
    <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">Go More</a>
  </div>
</div>

{% endfor %}
{% endblock %}