{% if user in article.like_users.all %}
<i class="fas fa-heart fa-lg like-button" data-id="{{ article.id }}" style="color: crimson;"></i>
{% else %}
<i class="far fa-heart fa-lg like-button" data-id="{{ article.id }}" style="color:black;"></i>
{% endif %}
<span id="like-count-{{ article.pk }}"> {{ article.like_users.count }}</span> 

{% if user in article.recommend_users.all %}
<i class="fas fa-comments"></i> {{ article.comment_set.all|length }} <a href="{% url 'articles:recommend' article.pk %}"><i class="far fa-thumbs-up text-danger"></a></i> {{ article.recommend_users.all|length }}
{% else %}
<i class="fas fa-comments"></i> {{ article.comment_set.all|length }} <a href="{% url 'articles:recommend' article.pk %}"><i class="far fa-thumbs-up text-info"></a></i> {{ article.recommend_users.all|length }}
{% endif %}