{% extends 'base.html' %}
{% block body %}
<h1>메인 페이지 입니다.</h1>
<hr>
{% if user.is_authenticated %}
<div style="float: right;">
  <a href="{% url 'articles:create' %}" class="btn btn-info">글 생성</a>
</div>
{% endif %}
<table class="table" style="margin-top: 10px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">비고</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{ article.pk }}</th>
      <td><a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a> 
      </td>
      <td>{{ article.user.username }}</td>
      <td>
        {% include 'articles/_like.html' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
 <hr>

{% endblock %}